
eRequest/.vs/eRequest/v16/Server/sqlite3/db.lock
Demo/bin/Debug/Demo.exe
Demo/bin/Debug/Demo.exe.config
Demo/bin/Debug/Demo.pdb
Demo/bin/Debug/eRequest.dll
Demo/bin/Debug/eRequest.dll.config
Demo/bin/Debug/eRequest.pdb
Demo/bin/Debug/Newtonsoft.Json.dll
Demo/bin/Debug/Newtonsoft.Json.xml
Demo/obj/Debug/Demo.csproj.CopyComplete
Demo/obj/Debug/Demo.csproj.CoreCompileInputs.cache
Demo/obj/Debug/Demo.csproj.FileListAbsolute.txt
Demo/obj/Debug/Demo.csproj.CoreCompileInputs.cache
Demo/obj/Debug/Demo.csprojAssemblyReference.cache
Demo/obj/Debug/Demo.exe
Demo/obj/Debug/Demo.pdb
Demo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Demo/obj/Debug/Demo.csproj.CoreCompileInputs.cache
eRequest/bin/Debug/eRequest.dll
eRequest/bin/Debug/eRequest.dll
eRequest/bin/Debug/eRequest.pdb
eRequest/bin/Debug/Newtonsoft.Json.dll
eRequest/bin/Debug/Newtonsoft.Json.xml
